.cf:before, .cf:after {
    content:" ";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    *zoom:1;
}

#quiz-container {
	max-width:650px;
	background-color:none;
	font-family:Verdana, Geneva, sans-serif;
	border:2px steelblue solid;
	border-radius:0px;
	padding:30px;
}

	.ques-container {
		width:90%;
		height:100%;
		margin:0px auto 0px auto;
		background-color:none;
	}

		.prompt {
			margin:8px 0px 5px 0px;
			padding:0px;
		}
		.prompt p {
			margin:0px;
			padding:0px;
			font-size:20px;
			font-weight:bold;
		}

		.selection {
			width:100%;
			margin:8px 0 8px 0;
			background-color:rgba(102,153,255,0.8);
			cursor:pointer;
		}
			.selection:hover {
				background-color:rgba(102,153,255,0.5);
			}
		.selection p {
			margin:0px;
			padding:5px 15px 5px 15px;
			font-weight:bold;
		}
		


		.correct {
			background-color:green;
		}
		.incorrect {
			background-color:red;
		}
