<div class="cf ques-container">
	<div class="cf response-container">
	</div>
	<div class="cf score-container">
		<div class="cf score-slate">
			<div class="your-score score-num">
				<h2>{{ your_score }} / {{ ques }}</h2>
			</div>
			<div class="score-label">
				<h2>Your Score</h2>
			</div>
		</div>
	</div>
	<div class="cf share-container">
		<div class="share-border" style="margin-right:5px;"></div>
		<p>Share On</p>
		<img class="share facebook-share" src="img/share/facebook.png">
		<img class="share twitter-share" src="img/share/twitter.png">
		<div class="share-border" style="margin-left:5px;"></div>
	</div>
	<div class="cf play-again-container">
		<button onclick='location.reload()'>Play Again</button>
	<div>
</div>
